@tailwind base;
@tailwind components;
@tailwind utilities;

.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
